/* Import CSS Files*/
@import './utilities/variables.css';

/*resets styles*/
*,
*::before,
*::after {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/*global body settings*/
body { /*var pulls from the variable.css file*/
    background-color: var(--color-gray-400);
    width: 100%;
    height: 100%;
    font-family: var(--font-primary);
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-regular);
    font-optical-sizing: auto;
    font-style: normal;
    line-height: var(--line-height-base);
    color: var(--color-gray-950);
    min-height: 100vh; /*sets min viewport height*/
}

/*global img settings*/
img {
  max-width: 100%;
  display: block;
}
