@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
/*dont need @font-face since we're importing from google and its in the head in the html*/


:root {


    /*Typography*/
    --font-primary: 'Rubik', sans-serif;
    --font-weight-normal: 400;
    --font-weight-semi-bold: 500;
    --font-weight-bold: 700;
    --font-size-base: 18px;
    --font-h1-size: 1.5rem;
    --font-h2-size: 0.72rem;


    /* color palette*/
    --color-primary: hsl(0, 0%, 17%);
    --color-secondary: hsl(0, 0%, 58%);
    --color-text-primary: hsl(0, 0%, 17%);
    --color-text-secondary: hsl(0, 0%, 58%);

    --color-white: hsl(0, 0%, 100%);
    --color-black: hsl(0, 0%, 0%);

     /*line spacing*/
    --line-height-base: 1.5; /*sets global line height for the page*/
}
