/* Import CSS Files*/
@import './utilities/variables.css';

/*top bar graphic*/
.background-top-bar-graphic {
    background-image: url('../images/pattern-bg-mobile.png');
    height: 300px;
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;

}

.location {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; /* Centers the image */
    background-attachment: fixed; /* Keeps the background fixed during scrolling */
    width: 100%;
    height: auto;
}

